body {
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
  margin-left: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #ffe81f;
}

#chooseCharactersBtn {
  align-self: flex-start;
}

#chooseCharacterOne,
#chooseCharacterTwo {
  margin: 0.25rem;
  padding: 0.15rem;
}

p {
  height: 3rem;
  width: 20rem;
  padding: 1rem;
  background-color: white;
  color: black;
}

img {
  display: block;
  max-width: 25%;
  max-height: 25%;
}

button {
  background: white;
  color: black;
  padding: 0.25rem;
  margin: 0.3rem;
}
